* {
    margin: 0px;
    padding: 0px;
}

:root {
    --primary-color: #fff7ed;
    --secondary-color: #a3e635;
    --background-color: #f59e0b;
}

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');


/* Navigation Bar */
.nav-header {
    background-color: var(--background-color);
    margin-bottom: 1rem;
    font-family: PT Sans, sans-serif;
    border-radius: 0px 0px 10px 0px;
}

nav ul {
    text-align: right;
    margin: 0.5rem;
    padding-bottom: 2rem;
    padding-top: 10px;
    
}
nav ul li {
    display: inline;
    margin: 5px;
    padding: 5px;
    margin-left: 3rem;
}

.nav-link {
    text-decoration: none;
    color:var(--primary-color);
    padding: 10px;
    border: 2px solid var(--primary-color);
    border-radius: 8px;
}

.nav-link:hover {
    color: black;
    border: 2px solid black;
}



/* Image */
img {
    max-width: 400px;
    margin-bottom: 0.5rem;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
}


/* Body */

h1 {
    text-align: center;
    font-family: PT Sans, sans-serif;
    margin-top: 10px;
}

span {
    color:var(--background-color);
}

section {
    margin: 10px;
    font-family: PT Sans, sans-serif;
}

#tech-part{
    margin-top: 20px;
    padding: 15px;
}

#head-tech {
    padding-bottom: 20px;
}

#project-part {
    margin-top: 20px;
}

#project-part h2{
    padding-bottom:20px;
}

#project-part div p{
    padding-bottom: 20px;
}

#blog-part {
    margin-top:30px;
}

#blog-part h2{
    padding-bottom:20px;
}

#blog-part div p {
    padding-bottom: 20px;
}
.font { 
    max-width: 600px;
    margin: auto;
}

.sect-tech {
    background-color: var(--primary-color);
}

.centre-text {
    text-align: center;
    padding: 5px;
}

.para-centre {
    padding: 10px 0px 10px 0px;
}

.link-page {
    text-decoration: none;
    background-color: var(--background-color);
    color: var(--primary-color);
    padding: 8px;
    border-radius: 8px;
    margin-top: 1rem;
}

.link-page:hover {
    color: black;
}


/* Footer */

footer {
    font-family: PT Sans, sans-serif;
    background-color: var(--background-color);
    border-radius: 10px 0px 0px 0px;
    margin-top: 2rem;
    padding-bottom: 2rem;
}

footer ul {
    text-align: center;
}
footer ul li {
    display: inline;
}

.footer-link {
    text-decoration: none;
    Color: var(--primary-color);
    padding: 10px;
    border: 2px solid var(--primary-color);
    border-radius: 8px;
}

footer h3 {
    margin-bottom: 20px;
}

.footer-link:hover{
    color:black;
    border: 2px solid black;
}
